.CalendarView {
    height: 100%;
    min-height: 100%;
    width: 100%;
    display: flex;
}

.CalendarView-day {
    flex: 1;
    height: 100%;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
}

.CalendarView-date {
    font-size: 0.85em;
    color: #555;
    text-align: center;
    margin-bottom: 5px;
}

.CalendarView-events {
    border: solid 1px #ddd;
    border-radius: 2px;
    flex: 1;
    height: 100%;
    padding: 3px;
    overflow: auto;
}

.CalendarView-event {
    background-color: #fff0ba;
    padding: 5px;
    margin-bottom: 5px;
}

.CalendarView-event.important {
    background-color: #c8bfff;
}

.CalendarView-event.available {
    background-color: #97efa7;
}

.CalendarView-event.important .CalendarView-event-name {
    font-weight: bold;
    color: #333;
}

.CalendarView-event-name {
    color: #555;
}

.CalendarView-event-details {
    color: #777;
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
}
