.HeaderNav {
    display: flex;
    padding: 0 5em;
}

.HeaderNav a {
    flex: 1;

    text-align: center;
    padding: 0.5em 0;
    background-color: #efefef;
    color: #999;
    text-decoration: none;
    font-size: 1.5em;
    height: content-fit;
    margin-left: 1px;
}

.HeaderNav a.active {
    background-color: #ddd;
    color: #5a8dff;
}

.HeaderNav a.profile {
    flex: 0 0 auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
