.MidnightView {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.MidnightView-title {
    margin-bottom: 2em;
}

.MidnightView-title h1 {
    font-weight: bold;
    font-size: 2.5em;
    color: #333;
    margin: 0;
    display: inline;
    background-color: #ffff8c;
}

.MidnightInfoPanel {
    flex: 2;
    padding: 2em;
}

.MidnightInfoPanel-important {
    font-size: 1.4em;
    margin-top: 0.1em;
}

.MidnightInfoPanel-stats {
    background-color: #f7f7f7;
    padding: 10px 5px;
}

.MidnightInfoPanel-field {
    background-color: #ffff8c;
}

.MidnightInfoPanel-description {
    background-color: #f7f7f7;
    padding: 10px 5px;
    margin-top: 2em;
}

.MidnightInfoPanel-description > div {
    margin-bottom: 1em;
}

.MidnightInfoPanel-description h3 {
    display: inline;
    background-color: #ffff8c;
}

.MidnightTradingPanel {
    flex: 3;
    padding: 2em;
}

.MidnightTradeInstructions {
    margin-bottom: 2em;
    padding: 5px;
    background-color: #f7f7f7;
}

.MidnightTradingPanel-container {
    display: flex;
    justify-content: center;
}

.MidnightTradingPanel button {
    color: #fff;
    background-color: #6496c8;
    text-shadow: -1px 1px #417cb8;
    border: none;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 5px 15px;
    font-size: 20px;
    line-height: 1.8;
    vertical-align: bottom;
}

.MidnightTradingPanel button:hover {
    background-color: #346392;
    text-shadow: -1px 1px #27496d;
}

.MidnightTradingPanel button:active {
    background-color: #27496d;
    text-shadow: -1px 1px #193047;
}
