.content{
    max-width: 850px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
}

.main {
    height: 700px;
    display: flex;
    position: relative;
    text-align: left;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
    margin-right: 0;
    flex-flow: column;
        flex-direction: column;
        flex-wrap: initial;
}

.points {
    background: #3b5998;
    width: 120%;
    margin-top: 0;
    display: block;
    position: relative;
    text-align: left;
    margin-bottom: 0;
    margin-top: 5%;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.name {
    text-align: center;
    vertical-align: top;
    font-size: 30;
    font-family: Fantasy;
}

.helper {
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
}

.profilepic {
    vertical-align: middle;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.points p{
    margin-right: 5%;
    margin-left: 5%;
    color: #ffffff;
    font-family: Arial;
}

.points progress{
    border-radius: 3px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 10%;
}

.assignmentsList{
    display: inline-block;
    flex-direction: row;
    padding-left: 20%;
}

.assignHeading{
    font-family: fantasy;
    font-size: 32;
    text-align: left;
    height: 30px;
    padding: 10px;
}

.assignments{
    display: block;
    position: relative;
    width: 500px;
    border-style: solid;
    border-color: black;
}

.eventEntry{
    display: block;
    position: relative;
    width: 100%;
    border-radius: 3px;
    background-color: orange;
    font-family: sans-serif;
    list-style: none;
}

.eventName{
    font-size: 20;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom: solid #ffffff;
}
