
.profile {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.main {
    display: flex;
    position: relative;
    text-align: left;
    align-items: center;
    margin-bottom: 0;
    margin-top: auto;
    margin-right: 0;
    flex-flow: column;
    flex-direction: column;
    flex-wrap: initial;
}

.points {
    background: #3b5998;
    width: 100%;
    display: block;
    position: relative;
    text-align: left;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    padding: 5px;
    margin-top: 10px;
}

.name {
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 1em;
    margin-bottom: 2em;
}

.helper {
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
}

.profilepic {
    vertical-align: middle;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.points p {
    margin-right: 5%;
    margin-left: 5%;
    color: #ffffff;
}

.points progress {
    border-radius: 3px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 10%;
}

.assignmentsList {
    flex-direction: row;
    flow: 1 1 500px;
    min-width: 500px;
    margin-left: 2em;
    padding-top: 2em;
}

.assignHeading {
    font-size: 32;
    text-align: left;
    height: 30px;
    padding: 10px;
}

.assignments {
    display: block;
    position: relative;
    width: 500px;
    border-style: solid;
    border-color: black;
}

.eventEntry {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 3px;
    background-color: orange;
    list-style: none;
}

.eventName {
    font-size: 20;
    padding-left: 10px;
    padding-top: 5px;
    border-bottom: solid #ffffff;
}
